{% extends 'homebase.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 justify-content-evenly">
        <div class="col">
          <div class="card shadow">
            <img src="{{ url_for('static', filename='movie1.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rautu Ka Raaz</h5>
              <p class="card-text">Movie description, in few lines.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <img src="{{ url_for('static', filename='movie2.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Bheed</h5>
                <p class="card-text">Movie description, in few lines.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow">
            <img src="{{ url_for('static', filename='movie4.jpg') }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Chakda Express</h5>
                <p class="card-text">Movie description, in few lines.</p>
            </div>
          </div>
        </div>
    </div>
</div>
{% endblock %}